<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Store</title>
  </head>
  <body>
    <div class="text-center my-4">
      <h1 class="title">Javan Test</h1>
      <a href="/members/add"
            ><button type="button" class="btn btn-primary">Add Member</button></a
          >
      <a href="/syncAll"
            ><button type="button" class="btn btn-white">Refresh</button></a
          >
    </div>
    <div>
      <table class="main-content table">
        <tr>
          <th>Name</th>
          <th>total Asset</th>
          <th>Parent</th>
          <th>Action</th>
        </tr>
        <% data.forEach(element => { %>
        <tr>
          <td><%= element.name %></td>
          <td><%= element.totalAsset %></td>
          <td><%= element.Children[0]?.Parents.name %></td>
          <td class="cell-button">
            <a href="/members/<%= element.id %>"
              ><button type="button" class="btn btn-info">
                See Detail
              </button></a
            >
            <a href="/members/delete/<%= element.id %>"
              ><button type="button" class="btn btn-danger">Delete</button></a
            >
          </td>
        </tr>
        <% }) %>
      </table>
      <div class="text-center">
        <a href="/members/add"
          ><button type="button" class="btn btn-primary">Add Member</button></a
        >
      </div>
    </div>
  </body>
</html>
